{
    "parser": "@babel/eslint-parser",
    "plugins": [
        "jsdoc"
    ],
    "env": {
        "node": true,
        "es6": true,
        "jest": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb",
        "airbnb/hooks",
        "plugin:jsdoc/recommended"
    ]
}
